body{
    background-color: rgba(100, 149, 237, 0.54);
}
.simpsonsDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800%;
    height: 500px;
    border: 5px solid black;
}
